@import url(navbar.css);
@import url(header.css);
@import url(section-2.css);
@import url(announcement.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --brand-color: white;
  --second-color: black ;
  --third-color: rgb(199, 199, 199);
  --transparency-color: rgba(255, 255, 255, 0.336);
  --background-color:rgb(17, 17, 17);
  --transparent-color: rgba(255, 255, 255, 0);

  --font-family: "Inter", sans-serif;
  --text-lg: 300 54px/125% var(--font-family);
  --text-md: normal 20px/175% var(--font-family);
  --text-sm: normal 15px/175% var(--font-family);

}

body{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  font: var(--text-lg);
  background-color: rgb(27, 27, 27);
  color: var(--brand-color);
  background-color: var(--background-color);  
}
p{
  font: var(--text-sm);
  color: var(--third-color);
}


.button1{
  background-color: var(--transparent-color);
  color: var(--brand-color);
  border-radius: 10px;
  border: 2px solid var(--brand-color);
  max-width: fit-content;

  padding: 10px;
}

.button2{
  background-color: var(--brand-color);
  color: var(--second-color);
  border-radius: 10px;
  border: 0px;
  max-width: fit-content;

  
  padding: 12px;
}

.button1:hover{
  cursor: pointer;
  background-color: var(--brand-color);
  color: var(--second-color);

}

.button2:hover{
  cursor: pointer;
  background-color: var(--third-color);
}


a{
  color: var(--third-color);
  text-decoration: none;
}


a:hover{
  transition-duration: 0.4s;
  color: var(--transparency-color);
}


