.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  text-align: center;
  font: var(--text-sm);
  max-width: 1200px;
  width: 100%;
  margin: 15px;
}

a{
  color: var(--third-color);
  text-decoration: none;
}

a{
  color: var(--third-color);
}

a:hover{
  transition-duration: 0.4s;
  color: var(--transparency-color);
}

.nav-content{
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: 15px;
}

.nav-logo{
  color: var(--brand-color);
  font-weight: 800;
}
.nav-logo:hover{
  transition-duration: 0.4s;
  color: var(--transparency-color);
  cursor: pointer;
}



