.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  text-align: center;

  background-color: var(--background-color);

  position: fixed;
  top: 45px;
  font: var(--text-sm);

  max-width: 1200px;
  width: 100%;
  padding: 15px;
}


.nav-content{
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: 15px;
}

.nav-logo{
  color: var(--brand-color);
  font-weight: 800;
}
.nav-logo:hover{
  transition-duration: 0.4s;
  color: var(--transparency-color);
  cursor: pointer;
}



